* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  grid-gap: 10px;
}

.square {
  border: 4px solid green;
  font-size: 42px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
  color: white;
}

.square.69 {
  background-color: 
    lightblue
}

.square.420 {
  background-color: #39ff14;
}

#result {
  font-size: 69px;
  margin: 20px auto;
  text-align: center;
}

#reset {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  display: none;
  font-size: 30px;
  margin: 20px auto;
  padding: 10px 20px;
}

#reset:hover {
  background-color: #ccc;
}

